{{> header}}
<div class="container">
    {{#if isLoggedIn}}
    {{#each offers}}
    <div class="shoes">
        <div class="shoe">
            <img src="{{this.imageUrl}}">
            <h3>{{this.productName}}</h3>
            <a href="#/details/{{id}}">Buy it for ${{this.price}}</a>
        </div>
    </div>
    {{else}}
    <h1>No offers to display!! ~_~</h1>
    {{/each}}
    {{else}}
    <div class="about-us">
        <div>
            <img src="./public/shoes.jpg" alt="">
            <img src="./public/shoes2.jpg" alt="">
        </div>
        <p>
            <a href="#/register">Register Now</a> and Try it!
        </p>
    </div>
    {{/if}}

</div>
{{> footer}}